/* Foto de Anni Roenkae: https://www.pexels.com/pt-br/foto/foto-de-ilustracao-multicolorida-2832468/ */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    line-height: 1rem;
    transition: all 0.2s ease;
}

.loading-container{
    position: absolute;
    height: 100svh;
    width: 100svw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    visibility: visible;
    opacity: 1;
    pointer-events: none;
    transition: all 1s ease;
}

.loading-container img{
    width: 80px;
    animation-name: rodar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.esconder{
    opacity: 0;
    visibility: hidden;
}

@keyframes rodar {
    0%{transform: rotate(0deg)} 
    100%{ transform: rotate(360deg);} 
}

.ui-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    top: 0
}

.desktop{
    height: 100svh;
    width: 100svw;
    background-image: url("../img/pexels-anni-roenkae-2832468.jpg");
    background-position: center;
    background-size: cover;
}

.dock{
    position: fixed;
    height: 2.5rem;
    bottom: 0;
    display: flex;
    align-items: end;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(4px);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
}

.item-prog{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.nome-prog{
    position: absolute;
    top: -1.5rem;
    visibility: hidden;
}

.nome-prog p{
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
}

.icone-prog{
    width: 3rem
}

.icone-prog:hover{
    width: 4rem;
}

.barra-superior{
    position: absolute;
    top: 0;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 2rem;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
}

